﻿@model NadoProducts.MvcWebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Perdorues.PerdoruesEmri, "Emri Perdoruesit")
            @Html.TextBoxFor(m => m.Perdorues.PerdoruesEmri, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Perdorues.PerdoruesEmri)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Perdorues.Pass , "Password")
            @Html.TextBoxFor(m => m.Perdorues.Pass, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Perdorues.Pass)
        </div>
        <div class="form-group">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.MeMbajMend)
                @Html.LabelFor(m => m.MeMbajMend)
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Logohu</button>
    }
</div>

