﻿@using NadoProducts.MvcWebUI.HtmlHelpers <!--Qe te mund te perdorim me posht Html.Pager-->
@model NadoProducts.MvcWebUI.Models.ProduktListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <table class="table">
        
        @foreach(var produkt in Model.Produktet)
        {
            <tr>
                <td>
                    @Html.ActionLink(" ","Fshij", new { id = produkt.Id },
                    new { onclick = "return confirm('Deshironi te fshini produktin ?')", @class = "glyphicon glyphicon-trash" })
                    @*&nbsp&nbsp*@
                    @Html.ActionLink(" ","Ndrysho", new {id=produkt.Id }, new { @class="glyphicon glyphicon-pencil"})
                </td>
                <td>@produkt.ProduktEmer</td>
                <td>@produkt.CmimiCope</td>
                <td>@String.Format("{0:C}",produkt.CmimiCope)</td><!--Formatojme cmimin si Currency-->
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="4"><a href="/Produkt/Shto" class="glyphicon glyphicon-plus"></a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    @Html.Pager(Model.PagingInfo)
</div>

