﻿@model NadoProducts.MvcWebUI.Models.ProduktAddViewModel

@{
    ViewBag.Title = "Shto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10">
    @using (Html.BeginForm())   //Krijimi i form-es
    { 
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m=>Model.Produkt.ProduktEmer,"Emri Produktit")
            @Html.TextBoxFor(m=>Model.Produkt.ProduktEmer, new {@class="form-control"})
            @Html.ValidationMessageFor(m=>Model.Produkt.ProduktEmer)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Produkt.KategoriId, "Kategori")
            @Html.DropDownListFor(m => Model.Produkt.KategoriId, Model.Kategorite, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Produkt.KategoriId )
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Produkt.SasiPerCope, "Sasi per Cope")
            @Html.TextBoxFor(m => Model.Produkt.SasiPerCope, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Produkt.SasiPerCope)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Produkt.CmimiCope, "Cmimi")
            @Html.TextBoxFor(m => Model.Produkt.CmimiCope,
            String.Format("{0:n2}",Model.Produkt.CmimiCope).Replace(",","."),
            new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Produkt.CmimiCope)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Produkt.CopeNeStok, "Cope ne Stok")
            @Html.TextBoxFor(m => Model.Produkt.CopeNeStok, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Produkt.CopeNeStok)
        </div>
        @Html.HiddenFor(m=>m.Produkt.Id )
        <button type="submit" class="btn btn-primary">Ndrysho Produktin</button>
    }
</div>


