﻿@model NadoProducts.MvcWebUI.Models.KategoriListViewModel

<div class="list-group">
    <a class="list-group-item @(Model.KategoriIdAktuale==null?"active":String.Empty)" href="/Produkt/"><b>Te Gjitha Produktet</b></a>
    @foreach(var kategori in Model.Kategorite)
    {
        @Html.ActionLink(kategori.KategoriEmer,"Index",new { controller="Produkt", kategoriId = kategori.Id },
        new {@class=
              Model.KategoriIdAktuale != null && Model.KategoriIdAktuale.ToString()==kategori.Id.ToString()
              ?"list-group-item active":"list-group-item" }) <!--Ndryshon klasen e elementit li nqs eshte apo jo aktiv duke u bazuar 
                                                                 ne vleren e "KategoriIdAktuale" (duke e kontrolluar nese eshte null apo jo)-->
    }
</div>
